.message-form {
    border-top: solid #d2cccc 0.5px;
    display: flex;
    height: 60px;
    z-index: 1;
}

.form-input {
    flex-grow: 1;
    font-size: 2.7vh;
    padding: 0px 15px;
    border: none;
}

#send {
    border: none;
    background: none;
}