.chatlist-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #8E24AA;
    border-bottom: 1px solid #ccc;
    color: #fff;
    height: 90px;
    font-size: 35px;
}

#loupe {
    right: 2vh;
    border: none; 
    background: transparent;
    cursor: pointer; 
    bottom: 1vh;
    font-size: 3.5vh;
    color: #ffffff;
}

#loupe:hover {
    animation: pulse 2s infinite;
}

#vert {
    right: 2vh;
    border: none; 
    background: transparent;
    cursor: pointer; 
    bottom: 1vh;
    font-size: 3.5vh;
    color: #ffffff;
    margin:0 0.7vh 0 1vh;
}

#vert:hover {
    animation: pulse 2s infinite;
}
