.timestamp {
    bottom: -1px;
    inset-inline-end: 0;
    padding: 2px;
    position: absolute;
    font-size: 14px;
}

.message {
    margin: 10px;
    border: solid rgb(161, 160, 160) 0.5px;
    max-width: 80%;
    overflow-wrap: break-word;
    line-height: 1.3;
    position: relative;
    animation: bounceIn 0.5s ease;
    display: flex;
}

.message.user1 {
    background-color: #ffffff;
    align-self: flex-start;
    border-radius: 10px 10px 10px 0 ;
}

.message.user2 {
    background-color: #e2ecfc;
    margin-left: auto; 
    align-self: flex-end;
    border-radius: 10px 10px 0 10px;
}

.message-text {
    font-size: 20px;
    word-break: break-word;
    margin: 4px 8px 5px;
    white-space: pre-wrap;
}

.message-name {
    font-size: 22px;
}

.invisible {
    visibility: hidden;
}

.message-image {
    max-width: 100%;
    height: auto;   
    flex-shrink: 0; 
}

@keyframes bounceIn {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}